{{ ansible_managed | comment }}

# The MIT License (MIT)

# Copyright (c) 2017-2018 Pawel Krupa and Roman Demachkovych

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

[Unit]
Description=Prometheus Node Exporter
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/node_exporter \
{% for collector in node_exporter_enabled_collectors.keys() -%}
{%   set options = node_exporter_enabled_collectors[collector] %}
{%   if  (options.keys()| length) == 0 %}
    --collector.{{ collector }} \
{%   else -%}
    --collector.{{ collector }} \
{%     for k,v in options|dictsort %}
    --collector.{{ collector }}.{{ k }}={{ v | quote }} \
{%     endfor -%}
{%   endif -%}
{% endfor -%}
{% for collector in node_exporter_disabled_collectors.keys() %}
    --no-collector.{{ collector }} \
{% endfor %}
{% if node_exporter_version is version('1.5.0', '>=') %}
    --web.config.file=/etc/node_exporter/config.yaml \
{% else %}
    --web.config=/etc/node_exporter/config.yaml \
{% endif %}

    --web.listen-address={{ node_exporter_web_listen_address }} \
    --web.telemetry-path={{ node_exporter_web_telemetry_path }}

SyslogIdentifier=node_exporter
Restart=always
RestartSec=1
StartLimitInterval=0


[Install]
WantedBy=multi-user.target
